.checkoutProduct {
    display: flex;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct__info {
    padding-left: 20px;
}
.checkoutProduct__title {
    font-weight: 800;
    font-size: 17px;
}
.checkoutProduct__rating {
    color: #ffa41c;
}
.checkoutProduct__image {
    background-size: cover;
    background-position: center;
}

.checkoutProduct__image > img {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__info > button {
    background-color: #febd69;
    border: 1px solid;
    margin-top: 10px;
    border-color: #88733c #87691f #755d20;
    color:  #111;
}